workflow-resume-matin.json
{
  "name": "Resume du matin - mails -> Alexa",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "trigger-7h",
      "name": "Tous les jours a 7h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-200, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "q": "newer_than:1d in:inbox -category:promotions -category:social"
        },
        "options": {}
      },
      "id": "gmail-get",
      "name": "Mails des dernieres 24h",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [40, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "REMPLACER",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Concatene tous les mails recus en un seul bloc texte pour Claude.\nconst items = $input.all();\nif (items.length === 0) {\n  return [{ json: { prompt: null, count: 0 } }];\n}\nconst lignes = items.map((it, i) => {\n  const m = it.json;\n  const from = m.from?.value?.[0]?.address || m.from?.text || m.From || 'inconnu';\n  const sujet = m.subject || m.Subject || '(sans objet)';\n  const apercu = (m.snippet || m.textPlain || '').toString().slice(0, 300);\n  return `${i + 1}. De: ${from}\\n   Objet: ${sujet}\\n   Apercu: ${apercu}`;\n}).join('\\n\\n');\nconst prompt = `Tu es l'assistant matinal d'Alexis. Voici les mails recus dans les dernieres 24h. Redige un resume vocal court en francais, lu a voix haute par une enceinte : pas de markdown, pas de listes a puces, des phrases simples.\\n\\nNe retiens QUE ce qui compte vraiment : les messages ecrits par de vraies personnes qui s'adressent a lui (surtout ceux qui attendent une reponse) ; ce qui demande une action ou a une echeance (rdv, paiement, document a fournir, reponse attendue) ; les sujets pro, opportunites, contacts reseau, candidatures, clients ; l'argent (factures, paiements, banque, abonnements).\\n\\nIGNORE totalement, n'en parle pas du tout : les codes de securite ou 2FA et les notifications de connexion ; les newsletters, promotions et alertes emploi automatiques ; les accuses de reception et confirmations automatiques ; les notifications de reseaux sociaux.\\n\\nCommence par le nombre de mails vraiment importants (pas le total recu). Presente-les du plus important au moins important, en disant qui ecrit et ce qui est attendu de lui. Si rien n'est notable ce matin, dis-le simplement en une phrase, sans meubler.\\n\\nMails:\\n${lignes}`;\nreturn [{ json: { prompt, count: items.length } }];"
      },
      "id": "build-prompt",
      "name": "Construire le prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        },
        "options": {}
      },
      "id": "if-mails",
      "name": "Au moins un mail ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-opus-4-8', max_tokens: 1024, messages: [ { role: 'user', content: $json.prompt } ] }) }}",
        "options": {}
      },
      "id": "claude",
      "name": "Resume via Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REMPLACER",
          "name": "Anthropic x-api-key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-v3.voicemonkey.io/announce",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ token: 'REMPLACER_PAR_TON_TOKEN_VOICEMONKEY', device: 'living-room-echo-cletz', speech: $json.content[0].text }) }}",
        "options": {}
      },
      "id": "voicemonkey",
      "name": "Annoncer sur Alexa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 200]
    }
  ],
  "connections": {
    "Tous les jours a 7h": {
      "main": [[{ "node": "Mails des dernieres 24h", "type": "main", "index": 0 }]]
    },
    "Mails des dernieres 24h": {
      "main": [[{ "node": "Construire le prompt", "type": "main", "index": 0 }]]
    },
    "Construire le prompt": {
      "main": [[{ "node": "Au moins un mail ?", "type": "main", "index": 0 }]]
    },
    "Au moins un mail ?": {
      "main": [
        [{ "node": "Resume via Claude", "type": "main", "index": 0 }],
        []
      ]
    },
    "Resume via Claude": {
      "main": [[{ "node": "Annoncer sur Alexa", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
