workflow-youtube.json
{
  "id": "YtMcFlyVideos001",
  "name": "Nouvelles videos YouTube",
  "nodes": [
    {
      "parameters": {
        "feedUrl": "https://www.youtube.com/feeds/videos.xml?channel_id=UCDPK_MTu3uTUFJXRVcTJcEw",
        "pollTimes": { "item": [ { "mode": "everyHour" } ] }
      },
      "id": "rss-mcfly",
      "name": "McFly et Carlito (RSS)",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "feedUrl": "https://www.youtube.com/feeds/videos.xml?channel_id=UCWeg2Pkate69NFdBeuRFTAw",
        "pollTimes": { "item": [ { "mode": "everyHour" } ] }
      },
      "id": "rss-squeezie",
      "name": "Squeezie (RSS)",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1.1,
      "position": [0, 180]
    },
    {
      "parameters": {
        "feedUrl": "https://www.youtube.com/feeds/videos.xml?channel_id=UC_yP2DpIgs5Y1uWC0T03Chw",
        "pollTimes": { "item": [ { "mode": "everyHour" } ] }
      },
      "id": "rss-jdg",
      "name": "JDG (RSS)",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1.1,
      "position": [0, 360]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "s1", "name": "speech", "value": "=Nouvelle video de McFly et Carlito : {{ $json.title }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-mcfly",
      "name": "Texte McFly",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [260, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "s2", "name": "speech", "value": "=Nouvelle video de Squeezie : {{ $json.title }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-squeezie",
      "name": "Texte Squeezie",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [260, 180]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "s3", "name": "speech", "value": "=Nouvelle video de Joueur du Grenier : {{ $json.title }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-jdg",
      "name": "Texte JDG",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [260, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-v3.voicemonkey.io/announce",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ token: 'REMPLACER_PAR_TON_TOKEN_VOICEMONKEY', device: 'living-room-echo-cletz', speech: $json.speech }) }}",
        "options": {}
      },
      "id": "vm",
      "name": "Annoncer sur Alexa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 180]
    }
  ],
  "connections": {
    "McFly et Carlito (RSS)": { "main": [[{ "node": "Texte McFly", "type": "main", "index": 0 }]] },
    "Squeezie (RSS)": { "main": [[{ "node": "Texte Squeezie", "type": "main", "index": 0 }]] },
    "JDG (RSS)": { "main": [[{ "node": "Texte JDG", "type": "main", "index": 0 }]] },
    "Texte McFly": { "main": [[{ "node": "Annoncer sur Alexa", "type": "main", "index": 0 }]] },
    "Texte Squeezie": { "main": [[{ "node": "Annoncer sur Alexa", "type": "main", "index": 0 }]] },
    "Texte JDG": { "main": [[{ "node": "Annoncer sur Alexa", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
